.font1 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.font2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Header */

.header {
  max-width: 1400px;
  margin: 0 auto;
}
.banner {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/Banner\ Image.png);
  padding: 150px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-bottom: 0px;
}
.banner-subtitle {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: white;
}
.banner-title {
  font-size: 72px;
  width: 632px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: white;
}

/* Main */

.main {
  max-width: 1400px;
  margin: 0 auto;
}

/* Offer */

.offer {
  margin-top: 120px;
}
.offer-title {
  font-size: 88px;
  font-weight: bold;
  color: #ff0000;
  text-align: center;
  margin-bottom: 0px;
}
.offer-subtitle {
  font-size: 24px;
  font-weight: 500;
  color: #ff0000;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 0px;
}
.offer-description {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 48px;
}
.offer-img {
  display: flex;
  margin: 0 auto;
}

/* Party */

.party {
  margin-top: 120px;
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.05)
    ),
    url(../images/Vectorrr.png);
  padding: 100px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 0px;
}
.party-title {
  width: 500px;
  font-size: 64px;
  font-weight: 600px;
  margin-bottom: 0px;
  color: white;
}
.party-description {
  margin-top: 24px;
  width: 600px;
  line-height: 30px;
  color: white;
}
.join-btn {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 50px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}
.join-btn:hover {
  background-color: #ff0000;
  color: white;
  transition-duration: 0.4s;
}

/* Time */

.time {
  margin-top: 120px;
  background-color: rgb(255, 232, 203);
  padding: 100px 0px;
  border-radius: 16px;
  margin-bottom: 0px;
}
.time-title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.now-btn {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 50px;
  cursor: pointer;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 7px;
  display: flex;
  margin: 64px auto 0px auto;
}
.now-btn:hover {
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}
.red {
  color: #ff0000;
}

/* Coming */

.coming {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}
.coming-subtitle {
  font-size: 24px;
  font-weight: 500;
  color: #ff0000;
  margin-bottom: 0px;
}
.coming-title {
  font-size: 48px;
  font-weight: bold;
}
.coming-description {
  width: 390px;
  line-height: 32px;
  color: #070211;
}
.com-sub {
  font-size: 48px;
  font-weight: bold;
  color: #ff0000;
}
.com-des {
  line-height: 32px;
  color: #070211;
}
.happy-img {
  outline: 15px solid #ff0000;
  outline-offset: 25px;
  border-radius: 50%;
}
